.arrow-down {
  width: 85px;
  height: 85px !important;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
  border-top: 85px solid #f00;
  margin: auto;
  position: absolute;
  left: 42%;
  top: 5px;
  display: none;
}

@media (min-width: 576px) {
  .arrow-down {
    width: 85px;
    height: 85px !important;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    border-top: 85px solid #f00;
    margin: auto;
    position: absolute;
    left: 34%;
    display: block;
  }
}

@media (min-width: 768px) {
  .arrow-down {
    width: 85px;
    height: 85px !important;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    border-top: 85px solid #f00;
    margin: auto;
    position: absolute;
    left: 39%;
    display: block;
  }
}

@media (min-width: 992px) {
  .arrow-down {
    width: 85px;
    height: 85px !important;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    border-top: 85px solid #f00;
    margin: auto;
    position: absolute;
    left: 41%;
    display: block;
  }
}

@media (min-width: 1200px) {
  .arrow-down {
    width: 85px;
    height: 85px !important;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    border-top: 85px solid #f00;
    margin: auto;
    position: absolute;
    left: 43%;
    display: block;
  }
}

